<div class="bg-gradient">
    <div class="topbar-container">
      <nav class="navbar navbar-expand-lg border-bottom-0 navbar-dark py-1">
        <div class="container">
          <a class="navbar-brand font-fancy" href="#" style="font-size: 1.2rem;">Geekman</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
        </div>
  
      </nav>
  
    </div>
  
    <div class="pt-10 border-bottom">
      <div class="text-center mt-8">
        <h2 class="mb-4">
          <span class="d-none d-md-inline">Get in touch </span>
        </h2>
        <h4 class="text-secondary font-weight-light mb-6">
          Want to get in touch? We would like to hear from you . Here is how you can reach us .
        </h4>
        <div class="mb-8 py-2 ">
          <a class="btn btn-primary mr-4" routerLink="/dashboard/pro">Contact us</a> 
        </div>
        
      </div>
    </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                  <div class="pt-6 pb-3 px-6 ">
                     
                          <h3 style="color : #1B1B6E">  <i class="material-icons" style="size: 1.6rem">
                              phone
                              </i>  Telephone</h3>
                          <p style="text-align: center ; font-size: 18px">+06 2587 258</p>
                          <h3 style="color : #1B1B6E">  <i class="material-icons" style="size: 1.6rem">
                              home
                              </i>  Adress</h3>
                          <p style="text-align: center ; font-size: 18px">504 Lavaca Street, Austin,texas 7870, US</p>
                    
                   
                    <div style="text-align: center">
                      <button class="btn btn-flat-primary btn-fab mr-2"><i class="fa fa-facebook"></i></button>
                      <button class="btn btn-flat-info btn-fab mr-2"><i class="fa fa-twitter"></i></button>
                      <button class="btn btn-flat-danger btn-fab"><i class="fa fa-google"></i></button>
                      <button class="btn btn-flat-danger btn-fab"><i class="fa fa-linkedin"></i></button>
                    </div>
                  </div>
                </div>
        
              </div>
          </div>
          <div class="col-12 col-lg-8">
              <div style="width: 100% ">
                  <div class="d-flex py-3 align-items-center justify-content-between">
                    <div class="mr-1 pl-2 d-flex align-items-center">
                      <button class="btn btn-link text-secondary btn-sm email-toggle" (click)="menuToggle = !menuToggle"><i class="material-icons">menu</i></button>
                      <h5 class="my-0 px-3 text-info">Send us an Email</h5>
                    </div>
                 
                  </div>
      
                  <div class="email-compose px-4 py-2">
                    <form>
                      <div>
                        <input type="text" class="form-control mb-4" placeholder="Your Name">
                      </div>
                      <div>
                        <input type="text" class="form-control mb-4" placeholder="Your Email" >
                      </div>
                      <div class="editor-wrapper">
                        <div class="mb-4">
                          <textarea name="name" rows="8" appEditor cols="80" class="editable" placeholder="Subject">
                            
                            <strong>Go ahead we are listening ...</strong><br><br>
                          </textarea>
                        </div>
      
                      </div>
                    </form>
                
                  </div>
                  <div class="actions px-4 py-4" style="text-align: left;">
      
                      <button class="btn btn-outline-danger mr-2" style="float: right"><i class="fa fa-send mr-2"></i> Send</button>
                     
      
      
                  </div>
                </div>

          </div>
          </div>
